html{
  height:100%;
  overflow: hidden;
}

body{
  height:100%;
}
.mainRow,.sidebar,.mainContent{
  height:100%;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #ced2d6 !important;
}


a{
  text-decoration: none;
  color:#000 !important;
}

input,select{
  max-width: 400px !important;
}

.mainRow{
  display:flex;
  flex-direction: row;
  height:100%;
}

.container{
  height:100%;
}

.sidebar{
  width:300px;
}

.mainContent{
 width:100%;
 overflow:auto;
}

.card{
  max-width: 800px;
}

.searchContent{
  height:25%;
  min-height:180px;
}


.studentList{
  overflow: scroll;
  width:100%;
  height:65%;
  min-height:300px;
  /* margin:auto; */
  padding:5px;
}

.trialList{
  height:85%;
  overflow:scroll;
}


.listWrapper{
  height:75%;
  min-height:300px;
}

.trial.searchContent{
  height:20%;
  min-height:200px;
}

#nameSearchInput{
  width:300px !important;
}

/* table */
table{
  table-layout:fixed;
}

th,td{
  width:180px;
}

.number{
  width:50px;
  text-align: center;
}

.grade{
  width:70px;
}

.delete{
  width:90px;
}

.restore{
  width:100px;
}

.email{
  width:400px !important;
}

.lesson{
  width:300px;
}

.cancelled{
  background-color: red;
}

.continuation{
  background-color: #ddd;
}

.consider{
  background-color:yellow;
}

.status option,.status select{
  width:100%;
}

.status{
  width:270px;
}

.edit{
  width:100px;
}


tbody .edit{
  text-align: center;
}

/* lessonTable */
.lessonList td,.lessonList th{
  min-width:70px;
}

.lessonList .number{
  max-width:70px;
}

.lessonList.table{
  width:100%;
}

.lessonList .grade{
  max-width:100px;
}

.lessonList td.bus,.lessonList th.bus{
  width:88px;
}

.lessonList{
  font-size: 13px;
}

.suspended{
  background-color: #ddd;
}

tr.trial{
  background-color: yellow;
}

span.important{
  color:red;
}

span.trial{
  background-color: yellow;
  width:60px;
  height:30px;
}

span.suspended{
  background-color:#ddd;
  width:60px;
  height:30px;
}

/* waiting list  */
span.continue{
  background-color: #ddd;
  width:60px;
  height:30px;
}

span.cancel{
  background-color:red;
  width:60px;
  height:30px;
}

span.consider{
  background-color: yellow;
  width:60px;
  height:30px;
}

.notice{
  color:blue;
}

/* bulk email */

.emailContainer input[type="text"],.emailContainer input[type="file"],.emailContainer select{
  max-width:400px !important;
}




